openapi: 3.1.0
info:
  title: Jotform REST Folder Report API
  description: 'Jotform is an online form builder. The REST API exposes forms,

    submissions, reports, folders, users, files, system, labels and webhooks.

    Authentication is performed with an API key sent either as the APIKEY

    HTTP header or the apiKey query string parameter. The API is available on

    three regional/compliance hostnames: standard (api.jotform.com), EU

    (eu-api.jotform.com), and HIPAA (hipaa-api.jotform.com).

    '
  version: 1.0.0
  contact:
    name: Jotform API Documentation
    url: https://api.jotform.com/docs/
servers:
- url: https://api.jotform.com
  description: Standard (US)
- url: https://eu-api.jotform.com
  description: EU
- url: https://hipaa-api.jotform.com
  description: HIPAA
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Report
paths:
  /user/reports:
    get:
      tags:
      - Report
      summary: List reports across all forms owned by the user
      operationId: getUserReports
      responses:
        '200':
          description: Report collection.
  /form/{formID}/reports:
    get:
      tags:
      - Report
      summary: List reports for a form
      operationId: getFormReports
      parameters:
      - $ref: '#/components/parameters/FormID'
      responses:
        '200':
          description: Report collection.
    post:
      tags:
      - Report
      summary: Create a new report for a form
      operationId: createFormReport
      parameters:
      - $ref: '#/components/parameters/FormID'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - title
              - list_type
              properties:
                title:
                  type: string
                list_type:
                  type: string
                  enum:
                  - grid
                  - table
                  - csv
                  - excel
                  - calendar
                  - rss
                fields:
                  type: string
      responses:
        '200':
          description: Newly created report.
  /report/{reportID}:
    get:
      tags:
      - Report
      summary: Get details of a single report
      operationId: getReport
      parameters:
      - in: path
        name: reportID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Report.
    delete:
      tags:
      - Report
      summary: Delete a report
      operationId: deleteReport
      parameters:
      - in: path
        name: reportID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deletion result.
components:
  parameters:
    FormID:
      in: path
      name: formID
      required: true
      schema:
        type: string
      description: Identifier of the Jotform form.
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: APIKEY
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
