openapi: 3.1.0
info:
  title: Jotform REST Folder Submission API
  description: 'Jotform is an online form builder. The REST API exposes forms,

    submissions, reports, folders, users, files, system, labels and webhooks.

    Authentication is performed with an API key sent either as the APIKEY

    HTTP header or the apiKey query string parameter. The API is available on

    three regional/compliance hostnames: standard (api.jotform.com), EU

    (eu-api.jotform.com), and HIPAA (hipaa-api.jotform.com).

    '
  version: 1.0.0
  contact:
    name: Jotform API Documentation
    url: https://api.jotform.com/docs/
servers:
- url: https://api.jotform.com
  description: Standard (US)
- url: https://eu-api.jotform.com
  description: EU
- url: https://hipaa-api.jotform.com
  description: HIPAA
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Submission
paths:
  /user/submissions:
    get:
      tags:
      - Submission
      summary: List all submissions across all forms owned by the user
      operationId: getUserSubmissions
      responses:
        '200':
          description: Submission collection.
  /form/{formID}/submissions:
    get:
      tags:
      - Submission
      summary: List the submissions of a form
      operationId: getFormSubmissions
      parameters:
      - $ref: '#/components/parameters/FormID'
      responses:
        '200':
          description: Submission collection.
    post:
      tags:
      - Submission
      summary: Submit data to a form (create a new submission)
      operationId: createFormSubmission
      parameters:
      - $ref: '#/components/parameters/FormID'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Newly created submission.
  /submission/{submissionID}:
    get:
      tags:
      - Submission
      summary: Get a single submission
      operationId: getSubmission
      parameters:
      - in: path
        name: submissionID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Submission.
    post:
      tags:
      - Submission
      summary: Edit an existing submission
      operationId: editSubmission
      parameters:
      - in: path
        name: submissionID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Updated submission.
    delete:
      tags:
      - Submission
      summary: Delete a submission
      operationId: deleteSubmission
      parameters:
      - in: path
        name: submissionID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deletion result.
components:
  parameters:
    FormID:
      in: path
      name: formID
      required: true
      schema:
        type: string
      description: Identifier of the Jotform form.
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: APIKEY
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
