openapi: 3.1.0
info:
  title: Jotform REST Folder API
  description: 'Jotform is an online form builder. The REST API exposes forms,

    submissions, reports, folders, users, files, system, labels and webhooks.

    Authentication is performed with an API key sent either as the APIKEY

    HTTP header or the apiKey query string parameter. The API is available on

    three regional/compliance hostnames: standard (api.jotform.com), EU

    (eu-api.jotform.com), and HIPAA (hipaa-api.jotform.com).

    '
  version: 1.0.0
  contact:
    name: Jotform API Documentation
    url: https://api.jotform.com/docs/
servers:
- url: https://api.jotform.com
  description: Standard (US)
- url: https://eu-api.jotform.com
  description: EU
- url: https://hipaa-api.jotform.com
  description: HIPAA
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Folder
paths:
  /user/folders:
    get:
      tags:
      - Folder
      summary: List the user's folder tree
      operationId: getUserFolders
      responses:
        '200':
          description: Folder tree.
  /folder:
    post:
      tags:
      - Folder
      summary: Create a new folder
      operationId: createFolder
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                color:
                  type: string
                parent:
                  type: string
      responses:
        '200':
          description: Newly created folder.
  /folder/{folderID}:
    get:
      tags:
      - Folder
      summary: Get folder details
      operationId: getFolder
      parameters:
      - in: path
        name: folderID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Folder.
    put:
      tags:
      - Folder
      summary: Update a folder
      operationId: updateFolder
      parameters:
      - in: path
        name: folderID
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
                forms:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Updated folder.
    delete:
      tags:
      - Folder
      summary: Delete a folder
      operationId: deleteFolder
      parameters:
      - in: path
        name: folderID
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Deletion result.
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: APIKEY
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
