openapi: 3.1.0
info:
  title: Jotform REST Folder Label API
  description: 'Jotform is an online form builder. The REST API exposes forms,

    submissions, reports, folders, users, files, system, labels and webhooks.

    Authentication is performed with an API key sent either as the APIKEY

    HTTP header or the apiKey query string parameter. The API is available on

    three regional/compliance hostnames: standard (api.jotform.com), EU

    (eu-api.jotform.com), and HIPAA (hipaa-api.jotform.com).

    '
  version: 1.0.0
  contact:
    name: Jotform API Documentation
    url: https://api.jotform.com/docs/
servers:
- url: https://api.jotform.com
  description: Standard (US)
- url: https://eu-api.jotform.com
  description: EU
- url: https://hipaa-api.jotform.com
  description: HIPAA
security:
- ApiKeyHeader: []
- ApiKeyQuery: []
tags:
- name: Label
paths:
  /label:
    post:
      tags:
      - Label
      summary: Create a label
      operationId: createLabel
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
      responses:
        '200':
          description: Newly created label.
  /label/{labelID}:
    put:
      tags:
      - Label
      summary: Update a label
      operationId: updateLabel
      parameters:
      - $ref: '#/components/parameters/LabelID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                color:
                  type: string
      responses:
        '200':
          description: Updated label.
    delete:
      tags:
      - Label
      summary: Delete a label
      operationId: deleteLabel
      parameters:
      - $ref: '#/components/parameters/LabelID'
      responses:
        '200':
          description: Deletion result.
  /label/{labelID}/add-resources:
    put:
      tags:
      - Label
      summary: Attach resources (forms, submissions) to a label
      operationId: addLabelResources
      parameters:
      - $ref: '#/components/parameters/LabelID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Updated label.
  /label/{labelID}/remove-resources:
    put:
      tags:
      - Label
      summary: Remove resources from a label
      operationId: removeLabelResources
      parameters:
      - $ref: '#/components/parameters/LabelID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                resources:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Updated label.
components:
  parameters:
    LabelID:
      in: path
      name: labelID
      required: true
      schema:
        type: string
      description: Identifier of the label.
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: APIKEY
    ApiKeyQuery:
      type: apiKey
      in: query
      name: apiKey
